
__pycache__/
*$py.class
*.py[codiz]

# C extensions
*.so


# local: venv
tf115/
tf115*/
tf210/
tf216/
tf_latest/

# local
checkpoint
model*.index
model*.meta
model*.data*
dataset/*.p
dataset/*.jpg
code/*/log_*
code/turning*/validation*/label*
code/*/*.jpg
code/*/**/ways.json
code/*/**/*.jpg
code/*/**/*.p
code/*/**/*.png
code/*/**/*.png
link_*.json


# misc
*.swp
*.ttf
